.card {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #ffab03;
  -webkit-box-shadow: 8px 8px 10px #c28202, -8px -8px 10px #ffd404;
  box-shadow: 8px 8px 10px #c28202, -8px -8px 10px #ffd404;

  transition: transform 300ms ease-in-out;
  padding: 5px;
  cursor: pointer;
  margin: 20px 20px 60px 20px;


  color: #fffd;
  text-align: center;
  background-color: #ffab03;
}

.icon{
  float: right;
}

#navBar {
  margin-bottom: 20px;
}
#competitionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
  margin: auto;
  max-width: 80%;
}

#competitionsEnabled {
  grid-column: 1;
  align-items: center;
  margin-top: 15px;
}

#competitionsDisabled {
  grid-column: 2;
  margin-top: 15px;
}

.card:hover {
  cursor: pointer;

  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #ffab03;
  -webkit-box-shadow: 12px 12px 10px #c28202, -12px -12px 10px #ffd404;
  box-shadow: 12px 12px 10px #c28202, -12px -12px 10px #ffd404;

  transform: translate3d(0, -5px, 0);
}
