.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.inputContainer {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.375rem 0.7rem;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 8px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  box-shadow: 0px 3px 3px 0px #b3b3b3;
}

.inputAlignment {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
}

.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.registerContainer {
  flex: 1 1 auto;
  padding: 2.25rem;
  width: 40rem;
  height: 40rem;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.imgContainer {
  margin-left: 80px;
  float: right;
  width: 700px;
  height: 500px;
}

.button {
  cursor: pointer;
  background-color: #febc1f;
  border-color: transparent;
  border-radius: 8px;
  font-size: 21px;
  width: 290px;
  height: 52px;
  color: white;
  box-shadow: 0px 3px 3px 0px #b3b3b3;
}

.title {
  font-weight: 800;
  font-size: 42px;
  margin-bottom: 13px;
}

.subtitle {
  font-size: 28px;
  margin-bottom: 46px;
  margin-right: 10px;
}

.link {
  font-size: 28px;
  margin-bottom: 46px;
  text-decoration: revert;
}

.link:hover {
  color: #febc1f;
}

.link:active {
  color: #ff8f00;
}

.span[data-tooltip] {
  position: relative;
  border-bottom: 1px dotted #09C;
  cursor: pointer;
}

.span[data-tooltip]::before {
  content: attr(data-tooltip);
  background-color: rgba(99, 97, 97, 0.75);
  color: white;
  -webkit-font-smoothing: antialiased;
  width: 220px;
  padding: 10px;
  height: auto;
  border-radius: 3px;
  border-width: 0px;
  display: none;
  position: absolute;
  bottom: 23px;
  left: calc(100% - 75%);
  pointer-events: none;
  z-index: 99;
}

.span[data-tooltip]::after {
  content: "";
  height: 1px;
  width: 1px;
  border: 10px solid transparent;
  border-top-color: rgba(99, 97, 97, 0.75);
  position: absolute;
  bottom: 4px;
  left: 50%;
  display: none;
}

.span[data-tooltip]:hover::before,
.span[data-tooltip]:hover::after {
  display:block;
}