/*Colors*/

//Primary

$yellow: #FEBC1F;
$midYellow: #FFAB03;
$darkYellow: #FF8F00;

//Secondary

$blue: #04A3FF;
$midBlue: #0381FF;
$darkBlue: #025AB2;

//Grayscale

$white: #E6E6E6;
$lightGray: #D1D7DB;
$gray: #C7CECF;
$darkGray: #4D4B4D;
$black: #050010;

//Auxiliary

$okGreen: #28A745;
$confirmBlue: #04A3FF;
$dangerRed: #FF3F42;